@import "../styles/variables";

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  header {
    display: flex;
    justify-content: center;
    background-color: darken($nightBg, 6%);
    padding: 1rem;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;

    section {
      margin: 10px;
    }

    .input-group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      input {
        &[type="range"] {
          flex: 1;
          min-width: 150px;
        }

        &[type="number"] {
          min-width: 5em;
          width: 5em;

          -moz-appearance: textfield;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        margin-right: 0;
      }
    }

    .population-input {
      width: 100%;

      input[type="range"] {
        --thumb-color: #{$success-color};
      }
    }

    .infection-rate-input {
      flex: 1;

      input[type="range"] {
        --thumb-color: #{$primary-color};
      }
    }

    .mortality-rate-input {
      flex: 1;

      input[type="range"] {
        --thumb-color: #{$danger-color};
      }
    }
  }

  .calculations {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;

    h1, h3 {
      line-height: 1em;
    }

    h6 {
      text-align: left;
      font-size: .4em;
      margin-top: .5em;
    }

    .infections {
      color: $primary-color;
      padding: 2vh;
      background-color: darken($nightBg, 2%);

      h3 {
        font-size: max(2.5rem, 6vw);
      }
    }

    .deaths {
      padding: 3vh;
      color: $danger-color;
      background-color: darken($nightBg, 4%);

      h1 {
        font-size: max(3.5rem, 10vw);
      }
    }
  }

  footer {
    flex-grow: 1;
    background-color: darken($nightBg, 6%);
    padding: 20vh 5vh 5vh;
    font-size: 1.2rem;
    text-align: center;

    a {
      color: inherit;
      margin: 8px 0;
      text-decoration: underline;
    }

    .copyright-notice {
      margin-top: 10px;
      font-weight: 500;
    }
  }
}
