<header>
  <section>
    <h1>
      Human Cost of COVID-19 | Calculator
    </h1>
    <h4>
      Adjust parameters to see estimation.
    </h4>
  </section>
</header>

<form [formGroup]="formGroup" (submit)="calculateCost($event)">
  <section class="population-input">
    <h3 class="color-success flex align-items-center">
      <span>Population (in millions)</span>
      <select #populationSelector ngModel
              (ngModelChange)="onPopulationSelectorChange($event)"
              [ngModelOptions]="{standalone: true}">
        <option value="">Select</option>
        <option *ngFor="let place of placesByName" [value]="place.population">{{place.name}}</option>
      </select>
    </h3>
    <h4 class="color-success">{{placeMatchedWithPopulation}}</h4>
    <div class="input-group">
      <input type="range" min="1" max="7800" step="1" [value]="formGroup.controls.population.value"
             formControlName="population">
      <label class="input">
        <input type="number" [value]="formGroup.controls.population.value" formControlName="population">
      </label>
    </div>
  </section>

  <section class="infection-rate-input">
    <h3 class="color-primary flex align-items-center">
      <span>Infection Rate (%)</span>
      <button *ngIf="currentInfectionRate && currentInfectionRate != formGroup.controls.infectionRate.value"
              (click)="formGroup.controls.infectionRate.patchValue(currentInfectionRate)">
        reset
      </button>
      <button *ngIf="70 != formGroup.controls.infectionRate.value"
              (click)="formGroup.controls.infectionRate.patchValue(70)">
        herd-immunity
      </button>
    </h3>
    <h4 class="color-primary" *ngIf="currentInfectionRate">{{currentInfectionRate}}% is current world avg.</h4>
    <h4 *ngIf="!currentInfectionRate">&nbsp;</h4>
    <div class="input-group">
      <input type="range" min=".1" max="70" step=".01" [value]="formGroup.controls.infectionRate.value"
             formControlName="infectionRate">
      <label class="input">
        <input type="number" [value]="formGroup.controls.infectionRate.value" formControlName="infectionRate">
      </label>
    </div>
  </section>

  <section class="mortality-rate-input">
    <h3 class="color-danger flex align-items-center">
      <span>Mortality Rate (%)</span>
      <button *ngIf="currentMortalityRate && currentMortalityRate != formGroup.controls.mortalityRate.value"
              (click)="formGroup.controls.mortalityRate.patchValue(currentMortalityRate)">
        reset
      </button>
    </h3>
    <h4 class="color-danger" *ngIf="currentMortalityRate">{{currentMortalityRate}}% is current world avg.</h4>
    <h4 *ngIf="!currentMortalityRate">&nbsp;</h4>
    <div class="input-group">
      <input type="range" min=".1" max="10" step=".01" [value]="formGroup.controls.mortalityRate.value"
             formControlName="mortalityRate">
      <label class="input">
        <input type="number" [value]="formGroup.controls.mortalityRate.value" formControlName="mortalityRate">
      </label>
    </div>
  </section>
</form>


<section class="calculations">
  <div class="infections">
    <h3>{{infected | number}} <small>infected</small></h3>
    <h6>equal to {{placeMatchedWithInfected}}</h6>
  </div>
  <div class="deaths">
    <h1>{{deaths | number}} <small>deaths</small></h1>
    <h6>equal to {{placeMatchedWithDeaths}}</h6>
  </div>
  <div class="chronically-ill">
    <h3>{{chronicallyIll | number}} <small class="white-space-nowrap">chronically-ill</small></h3>
    <h6>
      about <a
      href="https://www.sciencemag.org/news/2020/07/brain-fog-heart-damage-covid-19-s-lingering-problems-alarm-scientists">12%</a>
      of infected people develop chronic illness,
    </h6>
    <h6>
      read more about long-term effects <a
      href="https://www.vox.com/2020/5/8/21251899/coronavirus-long-term-effects-symptoms">here</a>
    </h6>
  </div>
</section>

<footer>
  <p>
    * This is not a tracker! Only purpose of this tool is estimation (based on user input).
  </p>
  <p>
    ** Some calculations might not exactly match with the source due to rounding.
  </p>
  <p>
    *** I'm not affiliated to any referenced-source, health or news organization.
  </p>
  <p>
    **** The meta-data is sourced from
    <a href="https://worldpopulationreview.com/">here</a>,
    <a href="https://www.vox.com/2020/5/8/21251899/coronavirus-long-term-effects-symptoms">here</a>, and
    <a href="https://www.xapix.io/covid-19-initiative">here</a>.
  </p>
  <p class="source-link">Source Code: <a href="https://github.com/dabalyan/cost-of-covid-19">GitHub</a></p>
  <p class="copyright-notice">Copyright © 2020 <a href="https://www.linkedin.com/in/dabalyan">Ankit Singh</a></p>
</footer>
